* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins,monospace;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.paintBoxes{
    background-color: white;
    display:flex;
    flex-direction: column;
    width:300px;
    justify-content: center;
    align-items: center;
    border: solid 10px black;
    border-radius: 5px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header{
    text-align: center;
}

h1{
    margin-top:40px;
    font-size: 70px;
    font-weight: 800;
}

body{
    background-color:#9ea1ff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  